        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            user-select: none;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
        }

        .container {
            height: 500px;
            width: 800px;
            background-color: white;
            position: relative;
            overflow: hidden;
            border-radius: 30px;
            border: 5px solid gray;
        }

        .login {
            height: 500px;
            width: 380px;
            position: absolute;
            left: 0px;
            top: 0px;
            background-color: white;
            transition: 0.5s;
            border-top-right-radius: 130px;
            border-bottom-right-radius: 130px;
            overflow: hidden;
        }

        .signup {
            height: 500px;
            width: 380px;
            position: absolute;
            right: 0px;
            top: 0px;
            background: linear-gradient(to right top, rgb(28, 28, 255), aqua);
            transition: 0.5s;
            border-top-left-radius: 130px;
            border-bottom-left-radius: 130px;
            z-index: 1000;
            overflow: hidden;
        }

        .form1,
        .form2,
        .form3,
        .form4 {
            height: 400px;
            width: 340px;
            background-color: white;
            position: absolute;
            top: 40px;
            /* left:380px;   */
            left: 20px;
            overflow: hidden;
            padding: 10px;
            box-sizing: border-box;
        }

        .signin,
        .createac,
        .hello,
        .welcome {
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            font-size: 28px;
            position: absolute;
            top: 20px;
            left: 110px;
        }

        .icon {
            height: 40px;
            width: 40px;
            /* border:1px solid gray;  */
            border-radius: 5px;
            box-shadow: 0px 0px 5px black;
            text-align: center;
            padding: 12px;
            position: absolute;
            top: 80px;
            left: 50px;
            cursor: pointer;
        }

        .facebook {
            position: absolute;
            left: 105px;
        }

        .github {
            position: absolute;
            left: 160px;
        }

        .linkdin {
            position: absolute;
            left: 215px;
        }

        .email,
        .name1,
        .email1,
        .password2 {
            height: 40px;
            width: 300px;
            position: absolute;
            top: 180px;
            padding-left: 10px;
            border-radius: 5px;
            border: none;
            background-color: rgba(194, 191, 191, 0.703);
            outline: none;
        }

        .password {
            position: absolute;
            top: 235px;
            width: 250px;
        }

        .lock {
            position: absolute;
            top: 235px;
            left: 265px;
            height: 40px;
            width: 40px;
            background-color: rgba(194, 191, 191, 0.703);
            border: gray;
        }

        .button,
        .button2,
        .button3 {
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            color: white;
            position: absolute;
            top: 320px;
            left: 80px;
            height: 40px;
            width: 160px;
            border-radius: 5px;
            border: none;
            background-color: rgb(0, 69, 32);
            cursor: pointer;
        }

        .form2 {
            position: absolute;
            top: 40px;
            left: -350px;
            /* left:20px; */
            z-index: 999;
        }

        .createac {
            position: absolute;
            left: 40px;
        }

        .email1 {
            position: absolute;
            top: 235px;
        }

        .password2 {
            position: absolute;
            top: 290px;
            width: 250px;
        }

        .button2 {
            position: absolute;
            top: 340px;
        }

        .form3 {
            background-color: transparent;
            position: absolute;
            left: 20px;
            transition: 0.2s;
            ;
        }

        .hello {
            position: absolute;
            left: 80px;
            top: 120px;
            color: white;
        }

        .button3 {
            background-color: transparent;
            border: 1px solid white;
            position: absolute;
            top: 230px;
            left: 100px;
        }

        .form4 {
            background-color: transparent;
            position: absolute;
            left: -340px;
            transition: 0.3s;
        }

        .welcome {
            position: absolute;
            left: 60px;
            top: 120px;
            color: white;
        }

        #lock1 {
            display: inline-block;
        }

        #lock2 {
            display: none;
        }

        .lock3 {
            position: absolute;
            top: 290px;
            left: 267px;
        }